.tooltip {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;

  background-color: transparent;
  color: @tooltip_fg_color;
}

.tooltip * {
  background-color: transparent;
}


TerminalWindow {
  /* color: #eee; */
  border: none;
}
TerminalWindow .notebook {
  background-image: none;
  background-color: shade (@dark_bg_color, 1.02);
  border-radius: 3;
  padding: 0;
  border: none;

  -unico-border-gradient: none;
  -unico-inner-stroke-width: 0;
  -unico-outer-stroke-width: 0;
}
TerminalWindow .notebook tab {
  border-radius: 0;

  border: none;
  background-color: #DDD;
  padding: 7px;
  font-size: 18px;
}
TerminalWindow .notebook tab:active {
  border: none;
  background: #00cdcd;
}
TerminalWindow .notebook .button,
TerminalWindow .notebook .button:hover,
TerminalWindow .notebook .button:active {
  background: none;
  -unico-border-gradient: none;
  -unico-inner-stroke-color: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

TerminalScreen {
  -VteTerminal-inner-border: 0;
}
